annotated-types==0.7.0
asgiref==3.8.1
attrs==23.2.1.dev0
btrfsutil==6.9
cffi==1.16.0
colorama==0.4.6
cryptography==42.0.6
cupshelpers==1.0
dbus-python==1.3.2
defusedxml==0.7.1
distro==1.9.0
Django==5.0.6
future==1.0.0
Glances==4.0.8
netsnmp-python==1.0a1
nftables==0.1
orjson==3.10.5
packaging==24.0
pillow==10.3.0
psutil==5.9.8
pyaml==23.12.0
pycairo==1.26.1
pycparser==2.22
pycups==2.0.4
pydantic==2.7.4
pydantic_core==2.18.4
PyGObject==3.48.2
PyQt5==5.15.10
PyQt5_sip==12.13.0
pytz==2024.1
PyYAML==6.0.1
Reflector==2023.6.28.0.36.1
reportlab==4.1.0
shtab==1.7.1
smbus==1.1
sqlparse==0.5.0
TBB==0.2
termcolor==2.4.0
tldr==3.2.0
typing_extensions==4.12.2
wheel==0.43.0
