{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Add Article</title>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <style>
    .form-container {
      max-width: 50%;
      margin: 0 auto;
    }

    .form-container input,
    .form-container textarea {
      width: 100%;
    }

    .form-group label {
      display: block;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .form-group input,
    .form-group textarea {
      display: block;
      margin: 0 auto 1rem;
    }

    .btn-center {
      display: flex;
      justify-content: center;
    }
    .no-underline {
    text-decoration: none;
  }
  .no-underline:hover {
    text-decoration: none;
  }
  #logout-link{
    color: #34bf49;
  }
  </style>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'article_list' %}" class="logo d-flex align-items-center">
        <h1 class="sitename">{% trans "Forum Django" %}</h1>
      </a>


      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'article_list' %}" class="active">{% trans "Home" %}</a></li>
          {% if user.is_authenticated %}
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link" style="padding: 0;    color: #34bf49;">{% trans "Logout" %}</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'auth_view' %}" style="    color: #34bf49;">{% trans "Sign In" %}</a></li>
          {% endif %}
          <li>
            <form method="post" action="{% url 'set_language' %}">
              {% csrf_token %}
              <select name="language" onchange="this.form.submit()">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% for lang in LANGUAGES %}
                      <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                          {{ lang.1 }}
                      </option>
                  {% endfor %}
              </select>
          </form>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
  <main class="main">
    <div class="container mt-5">
      <div class="form-container">
        <h2 class="text-center">Add New Article</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
          </div>
          <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
          </div>
          <div class="btn-center">
            <button type="submit" class="btn btn-primary">Poster</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer id="footer" class="footer light-background">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
          <div class="widget">
            <p class="mb-4">{% trans "There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean." %}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5">
          <div class="widget">
            <h3 class="widget-heading">{% trans "Connect" %}</h3>
            <ul class="list-unstyled social-icons light mb-3">
              <li><a href="https://www.bouazzaouisoheib.site/" target="_blank"><span class="bi bi-cloud"></span></a></li>
              <li><a href="https://www.linkedin.com/in/soheib-bouazzaoui/" target="_blank"><span class="bi bi-linkedin"></span></a></li>
              <li><a href="mailto:bouazzaoui.soheib.pro@gmail.com"><span class="bi bi-google"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
