{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Login & Registration Form</title>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/auth.css' %}" rel="stylesheet">
</head>

<body class="index-page">
  
  <main class="main">
    <div class="container">
      {% if messages %}
      <div class="alert alert-danger">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      <div class="cont">
        <div class="form sign-in">
          <h2>Sign In</h2>
          <form method="POST" action="{% url 'auth_view' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button class="submit" type="submit">Sign In</button>
          </form>
          <a href="{% url 'article_list' %}" class="btn btn-link" style="color: black;">Back to Home</a>
        </div>

        <div class="sub-cont">
          <div class="img">
            <div class="img-text m-up">
              <h1>New here?</h1>
              <p>Sign up and discover</p>
            </div>
            <div class="img-text m-in">
              <h1>One of us?</h1>
              <p>Just sign in</p>
            </div>
            <div class="img-btn">
              <span class="m-up">Sign Up</span>
              <span class="m-in">Sign In</span>
            </div>
          </div>
          <div class="form sign-up">
            <h2>Sign Up</h2>
            <form method="POST" enctype="multipart/form-data" action="{% url 'auth_view' %}">
              {% csrf_token %}
              {{ register_form.as_p }}
              <button type="submit" class="submit">Sign Up Now</button>
            </form>
            <a href="{% url 'article_list' %}" class="btn btn-link" style="color: black;">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </main>

 
  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/auth.js' %}"></script>

</body>
</html>
